.App {
  text-align: center;
}

.editor-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f00;
    background-color: #f9f9f9;
}
.editor {
    width: 800px;
    height: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
}
canvas {

}
